<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Carlie E. Young, PLLC</title>
		<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
	</head>
	<body>
 
	<div class="callout large">
				<div class="row column text-center">
					<h1>Law Office of Carlie E. Young, PLLC</h1>
				</div>
			</div>
			<div class="row">
				<div class="medium-6 columns medium-push-6">
					<%= image_tag "bluebonnets.jpg", class: 'thumbnail' %>
				</div>
				<div class="medium-6 columns medium-pull-6">
				<hr>
				</br>
					<p>Practice Areas:</p>
					<p>Trademark, Copyright, Wills and Estate Planning, Guardianship, Probate, Small Business, and other General Practice </p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="large-12 columns text-center">
				<span>
					<h2><a href="https://docs.google.com/forms/d/1tZfhs0nDw0O9gJTCIfwToribc3uMxHWAgPgxpEWN2eA/viewform?embedded=true" target="_blank"><b>CLICK HERE</b> to <u>Contact Carlie E. Young, PPLC</u></a></h2>
				</span>
				</div>
			</div>
			<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
			<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
			<script>$(document).foundation();</script>
		</body>
	</html>