<footer class="footer">
  <div class="row full-width">
    <div class="small-12 medium-3 large-4 columns">
      <i class="fi-laptop"></i>
      <p>Law Office of Carlie E. Young, PLLC</p>
      <p>13831 Northwest Freeway, Suite 520, Houston, Texas, 77040</p>
      <p>Phone: 713-560-5492</p>
      <p>Fax: 713-893-6052</p>
    </div>
  </div>
</footer>