<footer class="footer">
  <div class="row full-width">
    <div class="small-12 medium-3 large-4 columns">
      <i class="fi-laptop"></i>
      <p>Law Office of Carlie E. Young, PLLC</p>
      <p>13831 Northwest Freeway, Ste 520, Houston, TX, 77040</p>
      <p>713-560-5492 (p) | 713-893-6052 (f) </p>
    </div>
  </div>
</footer>